apache-airflow==2.7.2
apache-airflow-providers-snowflake
apache-airflow-providers-common-sql
kafka-python==2.0.2
requests
snowflake-connector-python
dbt-snowflake==1.7.5
psycopg2-binary
confluent_kafka
kafka-python
pandas
sqlfluff
python-dotenv
sqlfluff-templater-dbt
joblib